<h1>Welcome to my website!</h1>


<h2>Today is <%= Time.now %></h2>


<form action="/">
  <input type="text" name="letter">
  <input type="submit">
</form>




<ul>
  <% @countries.each do |country| %>
      <li><%= country %></li>
  <% end %>
</ul>



<!-- <a href="/about">About</a> -->

<%= link_to "About", about_path %>
